<div class="container" *ngIf="dishes">
    <div>
        <span>MENU</span>
        <hr>
    </div>
    <mat-grid-list cols="2" rowHeight="200px" fxFlex>
        <mat-grid-tile *ngFor="let dish of dishes"  [routerLink]="['/dishdetail',dish.id]" appHighlight>
            <img  src= "{{BaseURL + dish.image}}" alt={{dish.name}}>
            <mat-grid-tile-footer>
                <h3>{{dish.name | uppercase}}</h3>
            </mat-grid-tile-footer>
        </mat-grid-tile>

        </mat-grid-list>
   <!-- 
       add this ti mat-grid-list -> (click)="onSelect(dish)"
       <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
</div>

<div [hidden]="dishes || errMess">
<mat-spinner color="accent"></mat-spinner>
<h4>Loading..</h4>
</div >
<div *ngIf="errMess">
    <h2>error : {{errMess}}</h2>
</div>