<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"    fxLayoutAlign.gt-md="space-around center"    fxLayoutGap="10px"     fxLayoutGap.xs="0">
  <div class="one" fxFlex="40" *ngIf="dish">
    <mat-card >
        <mat-card-header>
                <mat-card-title>
                <h1>{{dish.name}}</h1>
              </mat-card-title>
        </mat-card-header>
        <img  mat-card-sm-image src="{{BaseURL + dish.image}}">
        <mat-card-content>
        <p matLine>
            <span>{{dish.description}}</span>
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" [routerLink]="['/dishdetail',prev]">prev</button>
            <button mat-stroked-button color="primary">Like</button>
            <button mat-stroked-button color="primary">Share</button>
            <button mat-stroked-button color="primary" (click)="goBack()">BACK</button>
            <button mat-raised-button color="accent" [routerLink]="['/dishdetail',next]">next</button>        

          </mat-card-actions>
    </mat-card>    
   </div>

  <div class="two" fxFlex="40" *ngIf="dish">
    <mat-card >
    <div><h1>Comments</h1></div>
    <mat-list *ngIf="dish">
      <mat-list-item *ngFor="let dish of dish.comments">
         <p matLine> {{dish.comment}}</p>
         <p matLine>{{dish.rating}} Stars</p>
         <p matLine>-- {{dish.author}}  {{dish.date | date}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item *ngIf="commentForm.dirty">
         <p matLine> {{commentForm.value.comment}}</p>
         <p matLine>{{commentForm.value.rating}} Stars</p>
         <p matLine>-- {{commentForm.value.author}}</p>
      </mat-list-item>
  </mat-list>
   <!--  <p>{{commentForm.value | json}}</p><p>{{commentForm.status}}</p>
    --> <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <input matInput formControlName="author" placeholder="Name" name="author">
        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
      </mat-form-field>
    <br>
    <mat-slider formControlName="rating" min="0" max="5" step="1" value="5" name="rating" thumbLabel tickInterval="1"></mat-slider>
    <br><mat-form-field appearance="outline">
      <textarea matInput formControlName="comment" rows="10"placeholder="Your Comment"></textarea>
      <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
    </mat-form-field>
    <br><button type="submit" [disabled]="commentForm.invalid" mat-raised-button color="accent">Submit</button>
  </form>
    </mat-card>
    </div></div>

<div [hidden]="dish || errMess">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="errMess">
  <h1>{{errMess}}</h1>
</div>